<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Go OSX App</string>
	<key>CFBundleIconFile</key>
	<string>goxs.icns</string>
	<key>CFBundleExecutable</key>
	<string>gosx</string>
</dict>
</plist>
